*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    font-family: 'Roboto', sans-serif;
    background-color: #fce762;
}
.navbar{
    display: flex;
    background: #fce762;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    font-weight: 700;
}
.navbar img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
.navbar ul{
    float: right;
    margin-right: 0;
}
.navbar ul li{
    position: relative;
    display: inline-block;
    line-height: 85px;
    margin: 0;
    left: 50px;
    margin-left: 60px;
}
.navbar ul li a{
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #f0a202;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    box-shadow: 0px 0px 10px 0px #f0a202;
}
#check{
    display: none;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.background{
    background-color: #fffded;
    position: relative;
    background-size: cover;
    padding: 19px;
    height: 100%;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 22px;
}
input, button{
    margin: 15px 0;
    height: 25px;
}
input #username, #password{
    margin-top: 40px;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #717171 ;
    color: #717171;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 379px;
}
.right{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background: rgba(165, 172, 127, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 130px;
}
.title{
    color: #717171;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 40px;
}
button{
    display: flex;
    width: 384px;
    height: 51px;
    padding: 13px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #f0a202;
    background: #f0a202;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button:hover{
    border: #717171;
    background: #717171;
    box-shadow: 0px 0px 10px 0px #717171;
    transition: .5s;
}
.right form h2{
    color: #717171;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.right form a{
    font-weight: bold;
    text-decoration: none;
}
@media (min-width: 1440px) {
    .title{
        margin-top: 150px;
    }
}
@media (max-width: 970px){
    .title{
        font-size: 18px;
        margin-top: 40px;
    }
    input{
        font-size: 16px;
        width: 250px;
    }
    button{
        width: 250px;
        height: 41px;
    }
}